.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  color: #f5f6f7;
  font-weight: bold;
}
form{
  background: rgba(47,0,128,80%);
  box-shadow: 0 0 10px 5px;
  border-radius: .25rem;
  }
.form-group {
  margin: auto;
  padding: .5rem;
}
body {
  font-family: serif;
  font-size: 20px;
  background-image: url(https://i.imgur.com/fJ9N8qO.png);
  width: 100%;
  margin: 0;
  color: #f5f6f7;
  }
h1, p {
  margin: 1em auto;
  text-align: center;
}

#description {
  font-size: 24px;
  max-width: 600px;
}

form {
  width: 60vw;
  max-width: 600px;
  min-width: 300px;
  margin: 50px auto 100px auto;
  padding: 15px 10px 30px 10px;
  border-radius: 8px;
}
.input-radio,
.input-checkbox {
  display: inline-block;
  width: unset;
  margin-left: 20px;
  vertical-align: middle;
}
label {
  display: block;
  margin: .5em 0;
}
.descriptive{
  text-align: left;
  margin: .5em 0;
}
input,
textarea,
select {
  margin: auto;
  width: 100%;
  min-height: 3em;
  border-radius: 8px;
}
.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}
  .submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #000000;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
.textarea{
  border-radius: 8px;
  margin: 15px 0;
}
.submit{
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #00f900;
  border-radius: .5rem;
  cursor: pointer;
}
